<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>ServiceStack with Razor</title>
  <style type="text/css">
    body, h1, h2, input, button {
      margin: 0;
      padding: 0;
      font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .navbar {
      padding: 0 15px;
      color: #999;
      position: relative;
      min-height: 50px;
      line-height: 50px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
      background-repeat: repeat-x;
      background-color: #222;
      border-color: #080808;
    }

    h2 {
      padding: 0 0 10px 0;
      font: 36px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    input {
      padding: 10px;
      width: 50%;
    }

    button {
      padding: 10px;
    }

    #content {
      margin: auto;
      padding: 30px;
    }
  </style>
  <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.common.min.css">
  <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.rtl.min.css">
  <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.default.min.css">
  <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.mobile.all.min.css">
  <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.common-bootstrap.min.css">
  <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.914/styles/kendo.bootstrap.min.css">

  <script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
  <script src="//kendo.cdn.telerik.com/2016.3.914/js/angular.min.js"></script>
  <script src="//kendo.cdn.telerik.com/2016.3.914/js/jszip.min.js"></script>
  <script src="//kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <h1 class="navbar">Messenger Client - SMS Messaging Platform</h1>
  <div id="content">
    @RenderBody()
  </div>
  <script type="text/javascript">
    var getCountriesUrl = "@(new GetCountries().ToGetUrl())";
  </script>
  <script src="@Url.Content("~/Scripts/app/main.js")" type="text/javascript"></script>
</body>
</html>
