@inherits ViewPage
@{
  ViewBag.Title = "Mitto SMS Messenger";
}

<script id="ddl-country-template" type="text/x-kendo-template">
  <span>
    #: name #&nbsp;&lang;#: mcc #&rang;
  </span>
</script>

<script id="lst-country-template" type="text/x-kendo-template">
  <div>
    #: name #&nbsp;&lang;#: mcc #&rang;
  </div>
</script>

<script id="send-sms-template" type="text/x-kendo-template">
  <section class="well" id="send-sms-form">
    <h2 class="ra-well-title">Send SMS</h2>
    <div class="form-horizontal form-widgets col-sm-12">
      <div class="form-group">
        <label class="control-label col-sm-2" for="country">Select Country</label>
        <div class="col-sm-10">
          <div class="input-group" style="width:100%">
            <select id="ddl-country" name="country" data-bind="value: sms.country" style="width:30%"></select>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-horizontal form-widgets col-sm-12">
      <div class="form-group">
        <label class="control-label col-sm-2" for="sender-mobile-number">Sender</label>
        <div class="col-sm-10">
          <div class="input-group" style="width:100%">
            <input id="sender-mobile-number" type="tel" placeholder="Enter mobile number" data-value-update="keyup" data-bind="value: sms.senderMobile" style="width:60%" required pattern="\d{10}" validationMessage="Plase enter{0}"  />
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-horizontal form-widgets col-sm-12">
      <div class="form-group">
        <label class="control-label col-sm-2" for="receiver-mobile-number">Receiver</label>
        <div class="col-sm-10">
          <div class="input-group" style="width:100%">
            <input id="receiver-mobile-number" type="tel" placeholder="Enter mobile number" data-value-update="keyup" data-bind="value: sms.receiverMobile" style="width:60%"  required pattern="\d{10}" validationMessage="Plase enter{0}" />
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-horizontal form-widgets col-sm-12">
      <div class="form-group">
        <label class="control-label col-sm-2" for="bio">Message</label>
        <div class="col-sm-10">
          <textarea id="sms-text" data-bind="value: sms.message" class="k-textbox"  required ></textarea>
        </div>
      </div>
    </div>
    <div class="buttons-wrap">
      <button class="k-button k-state-default" data-bind="click: cancelClick">Cancel</button>
      <button class="k-button k-state-default" data-bind="click: clearClick">Clear</button>
      <button class="k-button k-state-default k-primary" data-bind="click: sendSmsClick">Send</button>
    </div>
  </section>
</script>

<script id="view-sms-template" type="text/x-kendo-template">
  <section class="well">
    <h2 class="ra-well-title">View SMS</h2>
    <div class="form-horizontal form-widgets col-sm-12">
      <div class="form-group">
        <label class="control-label col-sm-2" for="view-sms-from-date">From Date</label>
        <div class="col-sm-10">
          <input id="view-sms-from-date" name="view-sms-from-date" />
        </div>
      </div>
    </div>
    <div class="form-horizontal form-widgets col-sm-12">
      <div class="form-group">
        <label class="control-label col-sm-2" for="view-sms-to-date">To Date</label>
        <div class="col-sm-10">
          <input id="view-sms-to-date" name="view-sms-to-date" />
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="buttons-wrap">
      <button class="k-button k-state-default" data-bind="click: clearClick">Clear</button>
      <button class="k-button k-state-default k-primary" data-bind="click: viewSentSmsClick">View</button>
    </div>
    <div id="sms-grid" class="ra-section"></div>
  </section>
</script>

<script id="report-template" type="text/x-kendo-template">
  <section class="well">
    <h2 class="ra-well-title">Statictis Report</h2>
    <div class="form-horizontal form-widgets col-sm-12">
      <div class="form-group">
        <label class="control-label col-sm-2" for="report-from-date">From Date</label>
        <div class="col-sm-10">
          <input id="report-from-date" name="report-from-date" />
        </div>
      </div>
    </div>
    <div class="form-horizontal form-widgets col-sm-12">
      <div class="form-group">
        <label class="control-label col-sm-2" for="report-to-date">To Date</label>
        <div class="col-sm-10">
          <input id="report-to-date" name="report-to-date" />
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-horizontal form-widgets col-sm-12">
      <div class="form-group">
        <label class="control-label col-sm-2" for="bio">Mobile Country Codes</label>
        <div class="col-sm-10">
          <div id="mcc-list"></div>
        </div>
      </div>
    </div>
    <div class="buttons-wrap">
      <button class="k-button k-state-default" data-bind="click: clearClick">Clear</button>
      <button class="k-button k-state-default k-primary" data-bind="click: generateReportClick">Generate</button>
    </div>
    <div id="report-grid" class="ra-section"></div>
  </section>

</script>